<div class="text-center">
  <%= image_tag  "connected_world.svg", class: 'img-fluid px-1 py-5 p-md-5', id: 'under-construction-img' %>
  <h4>Page under construction</h4>
  <%= link_to "Go Back", :back, class: 'btn button blue-button mt-2'%>
</div>
