<% provide(:title, 'New Post') %>

<h2>New Post</h2>

<%= form_for(@post, remote: true) do |f| %>
  <div class="field form-group mt-4">
    <%= f.text_area :content, placeholder: 'Share something...', class: 'w-100 form-control', rows: 8, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Post", class: 'btn button blue-button mt-3 mb-1' %>
  </div>
<% end %>
