html,
body {
  color: $jet;
}

.main a {
  color: $light-blue;
}

.main a:hover {
  text-decoration: none;
  color: $blue;
}

.white-background {
  background: $white;
}

.silver-background {
  background: $silver;
}

.gray-background {
  background: $platinum;
}

.centered {
  margin: 0 auto;
}

.semi-bold {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.button {
  min-width: 200px;
}

.button.btn-sm {
  min-width: 50px;
}

.gray-button {
  background: $silver;
}

.gray-button:hover {
  background: $jet;
  color: $white;
}

.blue-button {
  background: $light-blue;
  color: $white !important;
}

.blue-button:hover {
  background: $blue;
}

.green-button {
  background: $green;
  color: $white !important;
}

.green-button:hover {
  background: $teal-green;
}

.red-hover:hover {
  background: $red;
}

#error_explanation {
//   color: #721c24;
//   background-color: #f8d7da;
//   border-color: #f5c6cb;
//   position: relative;
//   padding: 0.75rem 1.25rem;
//   margin-bottom: 1rem;
//   border: 1px solid transparent;
//   border-radius: 0.25rem;

  h2 {
    font-size: $font-size-base * 1.25;
  }
}

.notice {
  background: $emerald;
  border: 1px solid $mountain-meadow;
}

.success {
  background: $green;
  border: 1px solid $teal-green;
}

.gravatar img {
  border-radius: 50%;
}

.field {
  margin-bottom: $spacer * 0.5;
}

.field .field_with_errors:first-child::after {
  color: $red;
  content: '*';
  margin-left: 2px;
}

.registration {
  padding: 0 50px;
}

.connect,
.login-form {
  padding: 50px;
}

.nav-container.login {
  padding: 0 50px;
}

.full-height {
  min-height: 100vh;
}

.full-height-col {
  min-height: calc(100vh - 68px);
}

.d-flex-center {
  align-items: center;
  justify-content: center;
}
