$white: #ffffff;
$platinum: #e8e8e8;
$light-gray: #d1d1d1;
$pastel-gray: #cacaca;
$silver: #c0c0c0;
$jet: #2f2f2f;
$eerie-black: #181818;

$purple: #6c63ff;
$light-blue: #4285f4;
$emerald: #38d39f;
$mountain-meadow: #33c091;
$red: #ff6347;
$orange: #ffc107;
$blue: #536dfe;
$green: #009688;
$teal-green: #00897c;
$disabled: #dad9ff;
$periwinkle: #CBDDFC;
