<% provide(:title, 'Sign Up') %>
<% provide(:button_text, 'Sign Up') %>

<div class="centered registration">
  <%= render "users/shared/error_messages", resource: resource %>
  
  <h2>Sign Up</h2>

  <%= render 'users/shared/registration_form' %>

  <%= render "users/shared/links" %>
</div>
